# Los títulos inician con el símbolo (#)
##  Puntos principales con doble símbolo (##)
### sub títulos con triple (###)
#### Hay Hasta 4 niveles para títulos y subtítulos (####)

Este notebook tiene el propósito de ser una guía para el formato, existen 2 tipos de celdas, code cell y markdown cell, la primera es para código y la segunda para documentar el proceso

A continuación una celda de código:

In [7]:
print("Hola mundo, soy una celda de código")
x = 123
print("El valor guardado en x es: ", x)

Hola mundo, soy una celda de código
El valor guardado en x es:  123

Para hacer énfasis podemos usar __texto en negritas__ al añadir doble guión bajo al inicio y final de un texto, o bien usar *texto en cursiva* añadiendo un asterisco al inicio y final del texto

Si deseamos hacer un listado:
1. primer item
2. segundo item
3. tercer item
    3.1 primer sub item
    3.2 segundo sub item
    3.3 tercer sub item
- punto uno
- punto dos
    - sub punto uno
        - sub sub punto uno

Si queremos utilizar imágenes desde internet para nuestro reporte usamos:
<img src="https://seeklogo.com/images/D/dataspell-logo-06435B9CF3-seeklogo.com.png" alt="soy una descripción de imagen" title="yo soy un título" />

Más ejemplos para personalizar nuestro notebook en:
[Markdown Cheat Sheet](https://www.markdownguide.org/cheat-sheet/)

Ejemplo del llamado de una función, para mantener legible nuestro notebook

In [29]:
import importlib
import sys
sys.path.append('../')  # Agrega la ruta al directorio utils

import utils.imports as imp
import utils.visuals as visu
import utils.processing as proc

importlib.reload(imp)
importlib.reload(visu)
importlib.reload(proc)

In [2]:
dataset = imp.read_dataset("../../conjunto_de_datos_natalidad_2022.csv")

In [3]:
dataset

,ent_regis,mun_regis,loc_regis,tloc_regis,ent_resid,mun_resid,loc_resid,tloc_resid,ent_ocurr,mun_ocurr,...,act_pad,pos_mad,pos_pad,sitlab_mad,sitlab_pad,fue_prese,hora_nac,minuto_nac,comparecio,dis_re_oax
0,1,3,1,8,1,3,1,8,1,1,...,1,1,1,1,1,1,1,4,3,999
1,1,1,355,2,1,1,1,15,1,1,...,1,3,1,1,1,1,1,9,5,999
2,1,1,239,4,1,5,41,6,1,5,...,1,2,1,1,1,1,1,4,3,999
3,1,1,239,4,1,11,53,3,1,5,...,1,3,1,1,1,1,1,22,3,999
4,1,10,1,5,1,10,100,1,1,1,...,1,9,3,3,1,1,7,8,3,999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1891383,32,24,1,8,32,24,35,4,32,56,...,1,2,2,1,1,1,9,47,3,999
1891384,32,56,1,13,32,56,9999,99,32,56,...,1,9,2,3,1,1,15,55,3,999
1891385,32,8,1,5,32,8,1,5,1,7,...,1,9,1,3,1,1,13,24,3,999
1891386,32,48,1,7,32,48,1,7,32,48,...,1,9,3,3,1,1,6,11,3,999
1891387,32,10,1,13,32,56,1,13,32,10,...,1,2,2,1,1,1,8,0,3,999

In [58]:
visu.save_histogram(dataset, 'sexo')
visu.save_histogram(dataset, 'escol_pad')
visu.save_histogram(dataset, 'edad_padn')

In [57]:
visu.save_correlation(dataset, "escol_pad", "sitlab_pad")
visu.save_correlation(dataset, "escol_pad", "act_pad")
visu.save_correlation(dataset, "edad_padn", "act_pad")

In [46]:
proc.save_correlations(dataset)

Correlation data saved as 'output/correlations.csv'

In [55]:
print("hola")

hola

In [30]:
norm_dataset = proc.normalize_diabetes_data(dataset)

In [31]:
norm_dataset

,ent_regis,mun_regis,loc_regis,tloc_regis,ent_resid,mun_resid,loc_resid,tloc_resid,ent_ocurr,mun_ocurr,...,act_pad,pos_mad,pos_pad,sitlab_mad,sitlab_pad,fue_prese,hora_nac,minuto_nac,comparecio,dis_re_oax
0,-0.001382,-0.000568,-0.000105,-0.000292,-0.001374,-0.000395,-0.000273,-0.000275,-0.001350,-0.000351,...,-0.00032,-0.001374,-0.000687,-0.000649,-0.000323,-0.000054,-0.000773,-0.000906,0.000101,0.00013
1,-0.001382,-0.000591,0.002171,-0.001176,-0.001374,-0.000409,-0.000273,-0.000093,-0.001350,-0.000351,...,-0.00032,-0.000906,-0.000687,-0.000649,-0.000323,-0.000054,-0.000773,-0.000720,0.002125,0.00013
2,-0.001382,-0.000591,0.001425,-0.000881,-0.001374,-0.000381,-0.000264,-0.000327,-0.001350,-0.000329,...,-0.00032,-0.001140,-0.000687,-0.000649,-0.000323,-0.000054,-0.000773,-0.000906,0.000101,0.00013
3,-0.001382,-0.000591,0.001425,-0.000881,-0.001374,-0.000339,-0.000261,-0.000405,-0.001350,-0.000329,...,-0.00032,-0.000906,-0.000687,-0.000649,-0.000323,-0.000054,-0.000773,-0.000236,0.000101,0.00013
4,-0.001382,-0.000487,-0.000105,-0.000734,-0.001374,-0.000346,-0.000250,-0.000458,-0.001350,-0.000351,...,-0.00032,0.000497,-0.000141,0.000085,-0.000323,-0.000054,-0.000382,-0.000757,0.000101,0.00013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1891383,0.001449,-0.000325,-0.000105,-0.000292,0.001424,-0.000249,-0.000265,-0.000379,0.001386,-0.000054,...,-0.00032,-0.001140,-0.000414,-0.000649,-0.000323,-0.000054,-0.000251,0.000696,0.000101,0.00013
1891384,0.001449,0.000046,-0.000105,0.000444,0.001424,-0.000026,0.002037,0.002098,0.001386,-0.000054,...,-0.00032,0.000497,-0.000414,0.000085,-0.000323,-0.000054,0.000140,0.000994,0.000101,0.00013
1891385,0.001449,-0.000510,-0.000105,-0.000734,0.001424,-0.000360,-0.000273,-0.000353,-0.001350,-0.000318,...,-0.00032,0.000497,-0.000687,0.000085,-0.000323,-0.000054,0.000010,-0.000161,0.000101,0.00013
1891386,0.001449,-0.000047,-0.000105,-0.000440,0.001424,-0.000081,-0.000273,-0.000301,0.001386,-0.000097,...,-0.00032,0.000497,-0.000141,0.000085,-0.000323,-0.000054,-0.000447,-0.000646,0.000101,0.00013
1891387,0.001449,-0.000487,-0.000105,0.000444,0.001424,-0.000026,-0.000273,-0.000145,0.001386,-0.000302,...,-0.00032,-0.001140,-0.000414,-0.000649,-0.000323,-0.000054,-0.000316,-0.001056,0.000101,0.00013

In [112]:
training_data, test_data = proc.split_data(norm_dataset, 0.8)
training_input = training_data[['edad_reg','ent_regis','edad_padn','edad_padr','orden_part','lugar_part','q_atendio','hijos_vivo','hijos_sobr','edociv_mad','escol_mad','escol_pad','act_mad','act_pad','pos_mad','pos_pad','sitlab_mad','sitlab_pad','comparecio']]
training_output = training_data['edad_madn']
model = proc.simple_linear_regression(training_input, training_output, 19)

In [113]:
test_input = test_data[['edad_reg','ent_regis','edad_padn','edad_padr','orden_part','lugar_part','q_atendio','hijos_vivo','hijos_sobr','edociv_mad','escol_mad','escol_pad','act_mad','act_pad','pos_mad','pos_pad','sitlab_mad','sitlab_pad','comparecio']]
test_output = test_data['edad_madn']
test_predictions = proc.test_predictions(model, test_input, 19)

In [114]:
coefficients = proc.get_coefficients(model)
print("Coefficients: ", coefficients)
MSE = proc.get_mean_squared_error(test_output,
                                  test_predictions)
print("Mean Squared Error: ", MSE)
R2 = proc.get_coefficient_determination(test_output,
                                        test_predictions)
print("R² Score: ", R2)

Coefficients:  [   229.62617893   -123.49526705  17430.49338795   4276.38851266
   1782.83406732   1799.65416506    648.92547149    356.13829111
    -93.17708571    949.54426068   4762.66043698  -3439.64572546
   6635.49004893 -21116.8341342   -2900.41133334    172.92747192
   2122.64054237   6459.36061222   3095.90819568]
Mean Squared Error:  174.97261199547677
R² Score:  0.5006630269742924